<template>
  <form submit.trigger="addCache()" class="ui form segment">
    <h3 class='ui dividing header'>Add a Cache</h3>
    <div class="grouped inline fields">
      <div class="field">
        <label>Name</label>
        <input type="text" value.bind="name" required/>
      </div>
      <div class="field">
        <label>Location</label>
        <input type="text" value.bind="location" required/>
      </div>
      <div class="field">
        <label>Latitude</label>
        <input type="number" value.bind="latitude" required/>
      </div>
      <div class="field">
        <label>Longitude</label>
        <input type="number" value.bind="longitude" required/>
      </div>
      <div class="field">
        <label>Description</label>
        <input type="text" value.bind="description" required/>
      </div>
    </div>
    <button class="ui blue submit button"><i class="edit icon"></i>Add Cache</button>
  </form>
</template>
