<template>
  <div class="ui equal width padded grid">
    <div class = "four wide column">
      <compose view-model="./profile-card"></compose>
    </div>

    <div class = "eight wide align right column" >
      <section class="ui segment" id="timelineTabs" style="overflow:auto;max-height:1200px;min-height:200px;">
        <h3 class="ui dividing header">Post New Stuff!</h3>
        <div class="ui pointing secondary demo menu">
          <a class="active item" data-tab="postfirst"><i class="plus icon"></i>Cache</a>
          <a class="item" data-tab="postsecond"><i class="plus icon"></i>Message Post</a>
        </div>
        <div class="ui active tab" data-tab="postfirst" style="padding: 10px;">
          <compose view-model="./add-cache"></compose>
        </div>
        <div class="ui tab" data-tab="postsecond" style="padding: 10px;">Add Message</div>
      </section>
      <div class="four wide column">
      </div>
    </div>
  </div>
</template>
