<template>
  <div class="ui list">
    <h3 class="ui dividing header">Users</h3>
    <!--https://ilikekillnerds.com/2015/08/iterating-objects-using-repeat-for-in-aurelia/-->
    <div id="list" class="item" repeat.for="[id, user] of userList">
      <img class="ui avatar image" src=${user.img}/>
      <div class="content">
        <a class="Header" route-href="route: viewuser"> ${user.firstName} ${user.lastName}</a>
        <a class="description">${user.email}</a>
      </div>
    </div>
  </div>
</template>
