<template>
  <div class="ui segment" repeat.for="cache of userCaches">
    <div class="ui items">
      <div class="ui item">
        <div class="content">
          <div class="header">${cache.name}</div>
          <div class="meta">
            <span class="location"><i class="grey marker icon"></i>${cache.location}</span>
            <span class="owner"><i class="grey user icon"></i>${cache.user.firstName} ${cache.user.lastName}</span>
          </div>
          <div class="description">
            <p style="word-break:break-all;white-space:normal;">${cache.description}</p>
          </div>
          <div class="meta">
            <span class="coords">${cache.latitude}, ${cache.longitude}</span>
          </div>
        </div>
      </div>
    </div>
</template>
