<template>
  <div class="ui list">
    <div id="list" class="item" repeat.for="following of followerList">
      <img class="ui avatar image" src=${following.follower.img}/>
      <div class="content">
        <!--https://elanderson.net/2015/10/aurelia-routing-with-a-parameter/-->
        <a class="Header" route-href="route: viewuser; params.bind: { userid:following.follower._id }">
          ${following.follower.firstName} ${following.follower.lastName}</a>
        <a class="description">${following.follower.email}</a>
      </div>
    </div>
  </div>
</template>
