<template>
  <div class="ui card ">
    <div class="image">
      <img src=${user.img}>
    </div>
    <div class="content">
      <a class="header">${user.firstName} ${user.lastName}</a>
      <a class="header"></a>
      <div class="meta">
        <span class="date">Joined in 2017</span>
      </div>
      <table class="ui celled striped table">
        <thead>
        <tr><th colspan="2">
          Details
        </th>
        </tr></thead>
        <tbody>
        <tr>
          <td class="collapsing">
            <i class="at icon"></i>
          </td>
          <td>${user.email}</td>
        </tr>
        <tr>
          <td class="collapsing">
            <i class="users icon"></i>
          </td>
          <td>${followerList.length} followers</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div if.bind="!isLoggedUser">
    <button if.bind="!isFollowing" click.delegate="addFollowing()" class="ui fluid blue submit button" ><i class="user icon"></i>Follow</button>
    <button if.bind="isFollowing" class="ui fluid submit button" ><i class="user icon"></i>Unfollow</button>
  </div>
</template>
