<template>
  <div class="ui card ">
    <div class="image">
      <img src=${user.img}>
    </div>
    <div class="content">
      <a class="header">${user.firstName} ${user.lastName}</a>
      <a class="header"></a>
      <div class="meta">
        <span class="date">Joined in 2017</span>
      </div>
      <button class="ui blue submit button"><i class="user icon"></i>Follow</button>
      <table class="ui celled striped table">
        <thead>
        <tr><th colspan="2">
          Details
        </th>
        </tr></thead>
        <tbody>
        <tr>
          <td class="collapsing">
            <i class="at icon"></i>
          </td>
          <td>${user.email}</td>
        </tr>
        <tr>
          <td class="collapsing">
            <i class="users icon"></i>
          </td>
          <td>${followerList.length}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="ui segment">
    <h3 class="ui dividing header">Followers</h3>
    <div class="ui list">
      <div id="list" class="item" repeat.for="following of followerList">
        <div class="content">
          <img class="ui avatar image" src=${following.follower.img}/>
          <!--https://elanderson.net/2015/10/aurelia-routing-with-a-parameter/-->
          <a class="Header" route-href="route: viewuser; params.bind: { userid:following.follower._id }">
            ${following.follower.firstName} ${following.follower.lastName}</a>
        </div>
      </div>
    </div>
  </div>
</template>
